basePath: /
definitions:
  gin-app-start_internal_dto.CreateUserRequest:
    properties:
      email:
        example: john@example.com
        type: string
      password:
        example: password123
        maxLength: 32
        minLength: 6
        type: string
      phone:
        example: "13800138000"
        type: string
      username:
        example: john_doe
        maxLength: 32
        minLength: 3
        type: string
    required:
    - password
    - username
    type: object
  gin-app-start_internal_dto.UpdateUserRequest:
    properties:
      avatar:
        example: https://example.com/avatar.jpg
        type: string
      email:
        example: john@example.com
        type: string
      phone:
        example: "13800138000"
        type: string
      status:
        enum:
        - 0
        - 1
        example: 1
        type: integer
    type: object
  gin-app-start_pkg_response.Response:
    properties:
      code:
        example: 0
        type: integer
      data: {}
      message:
        example: success
        type: string
      trace_id:
        example: trace-id-123
        type: string
    type: object
host: localhost:9060
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a RESTful API server built with Gin framework.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Gin App API
  version: "1.0"
paths:
  /api/v1/users:
    get:
      consumes:
      - application/json
      description: Get paginated list of users
      parameters:
      - default: 1
        description: Page number
        in: query
        name: page
        type: integer
      - default: 10
        description: Page size
        in: query
        name: page_size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
      summary: List users
      tags:
      - users
    post:
      consumes:
      - application/json
      description: Create a new user with username, email, phone and password
      parameters:
      - description: User information
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/gin-app-start_internal_dto.CreateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
      summary: Create a new user
      tags:
      - users
  /api/v1/users/{id}:
    delete:
      consumes:
      - application/json
      description: Delete user by user ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
      summary: Delete user
      tags:
      - users
    get:
      consumes:
      - application/json
      description: Get user information by user ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
      summary: Get user by ID
      tags:
      - users
    put:
      consumes:
      - application/json
      description: Update user information by user ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      - description: User information to update
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/gin-app-start_internal_dto.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/gin-app-start_pkg_response.Response'
      summary: Update user information
      tags:
      - users
  /health:
    get:
      consumes:
      - application/json
      description: Check if the service is running
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/gin-app-start_pkg_response.Response'
            - properties:
                data:
                  properties:
                    message:
                      type: string
                    status:
                      type: string
                  type: object
              type: object
      summary: Health check
      tags:
      - health
schemes:
- http
- https
swagger: "2.0"
